.git
.gitignore
.vscode
.idea
node_modules
npm-debug.log
vendor
storage/logs/*
storage/app/private/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
.env
.env.*
!.env.example
tests/_output
.dockerignore
docker-compose*.yml
Dockerfile
database/database.sqlite
public/build
public/hot
*.md